.slide-one-scale-enter {
    transform: scale(1);
}
.slide-one-scale-enter-active {
    transform: scale(1.5);
    transition: transform 1500ms;
}
.slide-one-scale-enter-done {
    transform: scale(1.5);
}
.slide-one-scale-exit {
    transform: scale(1.5);
    opacity: 1;
}
.slide-one-scale-exit-active {
    transform: scale(4);
    opacity: 0;
    transition: transform 1500ms, opacity 1500ms;
}

.slide-one-scale-exit-done {
    transform: scale(4);
    opacity: 0;
}
