.slide-one-fade-up-enter {
    transform: translateY(0);
    opacity: 1;
}
.slide-one-fade-up-enter-active {
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}

.slide-one-fade-up-enter-done {
    transform: translateY(-100px);
    opacity: 0;
}

.slide-one-fade-up-exit {
    opacity: 0;
}
.slide-one-fade-up-exit-active {
    opacity: 0;
}
.slide-one-fade-up-done {
    opacity: 0;
}