.slide-one-scale-enter {
    transform: scale(1);
}
.slide-one-scale-enter-active {
    transform: scale(1.5);
    transition: transform 1500ms;
}
.slide-one-scale-enter-done {
    transform: scale(1.5);
}
/* .slide-one-scale-exit {
    transform: scale(1.5);
    transform: translateY(0);
}
.slide-one-scale-exit-active {
    transform: scale(1.5);
    transform: translateY(-1000px);
    transition: transform 1500ms;
}

.slide-one-scale-exit-done {
    transform: scale(1.5);
    transform: translateY(-1000px);
} */

.slide-one-fade-up-enter {
    transform: translateY(0);
    opacity: 1;
}
.slide-one-fade-up-enter-active {
    transform: translateY(-100px);
    opacity: 0;
    transition: transform 500ms, opacity 500ms;
}

.slide-one-fade-up-enter-done {
    transform: translateY(-100px);
    opacity: 0;
}
/* 
.slide-one-fade-up-exit {
    transform: scale(1.5);
}
.slide-one-fade-up-active {
    opacity: 0;
    transition: opacity 1000ms;
} */



.slide-one-fade-enter {
    opacity: 1;
}
.slide-one-fade-enter-active {
    opacity: 0;
    transition: opacity 200ms;
}

.slide-one-fade-enter-done {
    opacity: 0;
}




.slide-two-fade-up-enter {
    opacity: 0;
    transform: translateY(50px);
    
}
.slide-two-fade-up-enter-active {
    opacity: 1;
    transform: translateY(-50px);
    transition: opacity 2s ease, transform 2s ease;
}

.slide-two-fade-up-enter-done {
    opacity: 1;
    transform: translateY(-50px);
}



.slide-two-fade-enter {
    opacity: 0;
    
}
.slide-two-fade-enter-active {
    opacity: 1;
    transition: opacity 3000ms ease;
}

.slide-two-fade-enter-done {
    opacity: 1;
}



.slide-three-slide-up-enter {
    transform: translateY(0);
}
.slide-three-slide-up-enter-active {
    transform: translateY(-100vh);
    transition: transform 1500ms ease;
}
.slide-three-slide-up-enter-done {
    transform: scale(1.5);
    transform: translateY(-100vh);
}




.slide-three-zoom-in-enter {
    transform: scale(.5);
    opacity: 0;
}
.slide-three-zoom-in-enter-active {
    transform: scale(1);
    opacity: 1;
    transition: transform 2s ease, opacity 2s ease;
}
.slide-three-zoom-in-enter-done {
    opacity: 1;
    transform: scale(1);
}
.slide-three-zoom-in-exit {
    transform: scale(1) translateY(0);

}
.slide-three-zoom-in-exit-active {
    transform: scale(1.2) translateY(50px);
    transition: transform 2s ease;
}
.slide-three-zoom-in-exit-done {
    transform: scale(1.2) translateY(50px);
}


.slide-three-slide-down-enter {
    transform: translateY(-50px);
    opacity: 0;
}
.slide-three-slide-down-enter-active {
    transform: translateY(0);
    opacity: 1;
    transition: transform 2s ease, opacity 2s ease;
}
.slide-three-slide-down-enter-done {
    transform: translateY(0);
    opacity: 1;
}

.slide-three-slide-down-exit {
    transform: translateY(0);
    opacity: 1;
}
.slide-three-slide-down-exit-active {
    transform: translateY(0);
    opacity: 0;
    transition: opacity 500ms ease;
}
.slide-three-slide-down-exit-done {
    transform: translateY(0);
    opacity: 0;
}





.slide-three-fade-in-enter {
    opacity: 0;
}
.slide-three-fade-in-enter-active {
    opacity: 1;
    transition: opacity 2s ease;
}
.slide-three-fade-in-enter-done {
    opacity: 1;
}
